* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  width: 100%;
}

body {
  font-family: 'Nunito', 'arial', sans-serif;
  background-image: url(../PS.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 16px;
}

.hidden {
  display: none;
  opacity: 0.1;
}

.container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #ECF0F1;
}

#creator {
  display: inline-block;
  position: relative;
  left: 220px;
  bottom: 35px;
  font-family: inherit;
  color: #3498DB;
}

.search-form {
  display: block;
  text-align: left;
  background-image: -webkit-linear-gradient(top, #0072CE, #003087);
  background-position: bottom;
  border: 1px solid -webkit-linear-gradient(top, #0072CE, #003087);
  height: 64px;
  padding: 30px 15px 30px 15px;
}

.playstationLogo {
  position: relative;
  float: right;
  height: 30px;
  width: 50px;
  margin: -15px 0px 0px 0px;
}

#userSearch {
  position: relative;
  height: 30px;
  width: 300px;
  background: #454545;
  bottom: 7px;
  right: 7px;
  float: left;
  margin: -5px 0px 0px 20px;
}

.apiSearchQuery {
  position: relative;
  color: #fff;
  font-family: inherit;
  background: transparent;
  border: 0;
  outline: 0;
  width: 90%;
  left: 7px;
}

a.submitBtn {
  position: relative;
  top: 5px;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

#prevButton, #nextButton{
  text-decoration: none;
  color: #ECF0F1;
}



.submitBtn:hover, a#prevButton:hover, a#nextButton:hover, a#prevBottomButton:hover, a#nextBottomButton:hover {
  color: #3498DB;
  text-decoration: underline;
}

#searchResultsContainer {
  position: relative;
  border: 0px #e4dede;
  margin: 0px 200px 20px 200px;
}

#searchResultsNav {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 30px 0px 0px 0px;
}

#searchResultsTotal {
  margin: -10px 0px 0px 20px;
  font-size: 14px;
  font-family: inherit;
  color: #ECF0F1;
}

#searchResultsPages {
  margin: -10px 20px 0px 0px;
  font-size: 14px;
  font-family: inherit;
  color: #ECF0F1;
}

.streamsContainer {
  display: flex;
  margin: 15px 0px 0px 0px;
  border: 6px outset #0072CE;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 15px 10px 10px rgba(0,0,0,0.4);
    background-image: url(../Galaxy.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}

.streamsContainer:hover {
  text-decoration: #FDFEFE;
  border: 6px outset #FDFEFE;
  box-shadow: 15px 10px 10px rgba(0,0,0,0.4);
}

.imageContainer {
  flex-flow: column wrap;
  margin: 7px 0px 0px -20px;
}

.streamDetails {
  flex-flow: column wrap;
  margin: 0px 5px 0px -20px;
}

.name {
  margin: 5px 5px 10px 0px;
  font-weight: bolder;
  font-size: 30px;
  color: #3498DB;
}

.streamGameAndViewers {
  margin: 0px 5px 0px 0px;
  font-size: 16px;
  color: #A6ACAF;
}

.streamDescription {
  margin: 0px 5px 0px 0px;
  font-size: 16px;
  color: #A6ACAF;
}

#footer {
  position: relative;
  background-color: transparent;
  float: right;
  margin: 10px 20px 10px 0px;
  font-family: inherit;
  font-size: 14px;
  color: #ECF0F1;
}

a#prevBottomButton, a#nextBottomButton {
  text-decoration: none;
  color: #ECF0F1;
  font-size: 14px;
  cursor: pointer;
}


/* Error Handling */
#errorHandler {
  display: inline-block;
}
#errorHandler .errorMsg {
  position: relative;
  width: 20em;
  top: 2em;
  left: 30%;
  background: transparent;
  font-family: inherit;
  border: none;
  color: rgb(200, 0, 0);
}
