#loadingPageWrapper {
    position: relative;
    height: 350px;

}
#loadingPage h2 {
    position: relative;
    left: 420px;
}

#displayLoad {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FDFEFE;
    top: 50%;
    left: 50%;

    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    z-index: 9999;
}

#displayLoad:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498DB;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;

    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

#displayLoad:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #003087;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;

    -webkit-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loadingPageWrapper .displayLoad-section {
    position: fixed;
    width: 50%;
    height: 100%;
    background: transparent;
    z-index: 1000;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.loaded #loadingPageWrapper .displayLoad-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);

    -webkit-transition: all 0.8s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.8s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loadingPageWrapper .displayLoad-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);

    -webkit-transition: all 0.8s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 0.8s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #displayLoad {
    opacity: 0;

    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.loaded #loadingPageWrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);

    -webkit-transition: all 0.5s 2s ease-out;
    transition: all 0.5s 2s ease-out;
}
